<div class="card card_padding_m card_margin_b">
  <div class="version">
    <span class="version__title">Последние версии</span>
    <div class="version__list">
      <a href="#" class="version__list-item version__list-item_published">Версия_резюме_от_25.11.17</a>
      <a href="#" class="version__list-item">Для_аттестации_(2017)</a>
      <a href="#" class="version__list-item">Точно_финал_для_аттестации ...</a>
      <a href="#" class="version__list-item">Финал_для_аттестации_2015</a>
      <a href="#" class="version__list-item">Для_аттестации_2015</a>
      <a href="#" class="version__list-item">Тест_резюме__25_ноября_2014</a>
    </div>
    <a href="#" class="version__cta">Показать больше версий</a>
  </div>

</div>
