<form role="form" class="login-form">
  <div class="form-group">
    <label for="email">Login</label>
    <input [(ngModel)]="login" name="login" type="email" class="form-control" id="email" placeholder="Enter login">
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input [(ngModel)]="password" name="password" type="password" class="form-control" id="pass" placeholder="Password">
  </div>
  <button (click)="loginAction()"  type="submit" class="btn btn-success">Enter</button>
</form>
