<div class="card card_padding_m card_margin_b">
  <span class="name card__name name_size_s">Сергей Волощук</span>
  <span class="position">Администратор</span>
  <div class="menu card__menu">
    <a class="menu__item card__menu-item">
                                <span class="menu__circle">
                                    <span class="menu__icon fa fa-home"></span>
                                </span>
      <span class="menu__title">Главная</span>
    </a>
    <a class="menu__item card__menu-item">
                                <span class="menu__circle">
                                    <span class="menu__icon fa fa-file-alt"></span>
                                </span>
      <span class="menu__title">Мое резюме</span>
    </a>
    <a class="menu__item card__menu-item" routerLink="/cv/list">
                                <span class="menu__circle">
                                    <span class="menu__icon fa fa-list-alt"></span>
                                </span>
      <span class="menu__title">Все резюме</span>
    </a>
    <a class="menu__item card__menu-item">
                                <span class="menu__circle">
                                    <span class="menu__icon fa fa-question"></span>
                                </span>
      <span class="menu__title">Справочник</span>
    </a>
    <a class="menu__item card__menu-item">
                                <span class="menu__circle">
                                    <span class="menu__icon fa fa-cogs"></span>
                                </span>
      <span class="menu__title">Настройки</span>
    </a>
  </div>
</div>
