<!--<div *ngIf="userCV">-->

<!--<div class="cv-block">-->
<!--<h2>{{userCV.cv.name.firstname}} {{userCV.cv.name.lastname}}</h2>-->

<!--<h4>{{userCV.cv.position.title}}</h4>-->
<!--<h5>{{userCV.cv.location.code}}</h5>-->
<!--<button (click)="goBack()">go back</button>-->
<!--</div>-->

<!--</div>-->

<div *ngIf="userCV">
  <div class="card card_color_transparent card_padding_m ">
    <div class="user-info">
      <div class="user-info__job">
        <div class="name user-info__name name_size_m">{{userCV.cv.name.firstname}} {{userCV.cv.name.lastname}}</div>
        <div *ngIf="userCV.cv.position != null" class="position">{{userCV.cv.position.title}}</div>
      </div>
      <div class="user-info__actions">
        <a href="#" class="button button_theme_primary user-info__button">RU</a>
        <a href="#" class="button button_theme_primary user-info__button">Экспорт</a>
        <a href="#" class="button button_theme_primary user-info__button">На почту</a>
        <a href="edit.html"
           class="button button_theme_primary user-info__button user-info__button_last">Редактировать</a>
      </div>
    </div>


    <div class="short-info">
      <span class="short-info__label">Офис</span>
      <span class="short-info__text">{{userCV.cv.location.code}}</span>
    </div>


    <div *ngIf="userCV.cv.expertise.length != 0" class="info  info_margin_m">
      <span class="info__title info__title_theme_primary ">Компетенции</span>
      <div class="card info__card card_padding_m">

        <div *ngFor="let expertise of userCV.cv.expertise" class="card__item">
          <span class="card__item-label">{{expertise.area}}</span>
          <div class="card__pills">
            <span *ngFor="let tag of expertise.tags; let i = index" class="pill card__pill">
              {{tag.title}}
              <span *ngIf="i != expertise.tags.length - 1">,&nbsp;</span>
            </span>
          </div>
        </div>

      </div>
    </div>


    <div class="info info_margin_m">
      <span class="info__title info__title_theme_primary">Проекты</span>
      <div *ngFor="let project of userCV.cv.projects" class="card info__card card_padding_m">
        <div class="card__item">
          <span class="card__item-project">{{project.project.description.name}}</span>
          <span class="card__item-date">{{getMonthByNumber(project.startDate.month)}} {{project.startDate.year}} – {{getMonthByNumber(project.endDate.month)}} {{project.endDate.year}}</span>
        </div>

        <div *ngIf="project.project.description.company != null">
          <div class="card__item">
            <span class="card__item-label">Компания</span>
            <div class="card__item-text">
              {{project.project.description.company.title}}
            </div>
          </div>
        </div>

        <div *ngIf="project.project.description.description != null && project.project.description.description != ''">
          <div class="card__item">
            <span class="card__item-label">Описание проекта</span>
            <div class="card__item-text">
              {{project.project.description.description}}
            </div>
          </div>
        </div>

        <div *ngIf="project.position != null">
          <div class="card__item">
            <span class="card__item-label">Позиция</span>
            <div class="card__item-text">
              {{project.position.title}}
            </div>
          </div>
        </div>

        <div *ngIf="project.responsibilities != null && project.responsibilities != ''">
          <div class="card__item">
            <span class="card__item-label">Исполняемые обязанности</span>
            <div class="card__item-text">
              {{project.responsibilities}}
            </div>
          </div>
        </div>

        <div *ngIf="project.tags != null && project.tags.length != 0">
          <div class="card__item">
            <span class="card__item-label">Технологии</span>
            <div class="card__pills">
              <span class="pill card__pill" *ngFor="let tag of project.tags; let i = index">
                <span>{{tag.title}}</span>
                <span *ngIf="i != project.tags.length - 1">,&nbsp;</span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="info info_margin_m">
      <span class="info__title info__title_theme_primary">Краткая информация и образование</span>
      <div class="card info__card  card_padding_m">


        <div *ngIf="userCV.cv.summary.length != 0" class="card__item">
          <span class="card__item-label">Краткая информация</span>
          <div *ngFor="let summary of userCV.cv.summary" class="card__item-text">
            {{summary.summary}}
          </div>
        </div>


        <div *ngIf="userCV.cv.education.length != 0" class="card__item">
          <span class="card__item-label">Основное образование</span>
          <div *ngFor="let education of userCV.cv.education" class="card__item-text">
            {{education.institution}}&nbsp;({{education.startYear}} - {{education.endYear}})
          </div>
        </div>


        <div *ngIf="userCV.cv.certificates.length != 0" class="card__item">
          <span class="card__item-label">Сертификаты</span>
          <div *ngFor="let certificate of userCV.cv.certificates" class="card__item-text">
            {{certificate.description}}&nbsp;({{certificate.year}})
          </div>
        </div>


        <div *ngIf="userCV.cv.languages.length != 0" class="card__item">
          <span class="card__item-label">Языки</span>
          <div class="card__item-text">
            <div *ngFor="let language of userCV.cv.languages">{{language.language}} - {{language.proficiency}}</div>
          </div>
        </div>


        <div *ngIf="userCV.cv.additionalInfo.length != 0" class="card__item">
          <span class="card__item-label">Дополнительная информация</span>
          <div *ngFor="let info of userCV.cv.additionalInfo" class="card__item-text">
            {{info.additionalInfo}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
