<div class="card card_padding_m">
  <div class="row">
    <div class="logo card__logo col-md-5 col-lg-4 col-xl-2">
      <a href="/" class="logo__link">
        <img src="../../../assets/images/logo.svg" alt="ArtTeam Logo" class="logo__icon logo__icon_size_s">
        <span class="logo__title logo__title_color_primary logo__title_size_s">Art-Team</span>
      </a>
    </div>
    <div class="col-md-7 col-lg-8 col-xl-10 card__left-menu">
      <a href="#" class="button  button_theme_primary"><span class="button__icon fa fa-plus"></span>Новое резюме</a>
      <div class="card__language">
        <a href="#" class="card__language-item card__language-item_choosed">RU</a>
        <a href="#" class="card__language-item">EN</a>
      </div>
      <a href="#" class="button button_theme_primary button_left">Выйти<span
        class="button__icon fa fa-arrow-right"></span></a>
    </div>
  </div>
</div>
